body {
    font-family: DM Serif Display ;
}

h2 {
    background-color: darkturquoise;
    border-radius: 5px;
    padding-left: 15px;
}

img {
    width: 200px;
}

.conteneur {
    display: flex;
    flex-direction: row;
    background-color:aliceblue
}

.colonne1 {
    background-color: darkturquoise;
    border-top-left-radius: 80px;
    border-top-right-radius: 80px;
    width: 25%;
    margin-right: 5%;
    margin-left: 5%;
    margin-top: 2%;
    padding: 30px;
}

.colonne2 {
    width: 60%;
}

.info {
    text-align: center;
}
